.container {
    position: relative;
    width: 640px;
    height: 360px;
}

video#video01 {
    width: 100%;
}

.control {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    background-color: rgba(104, 102, 102, 0.678);
    border-radius: 50px;
    position: relative;
    width: 40px;
    padding: 10px;
    top: 100%;
    transform: translateY(-120%);
}
